:8081 {
	# =======================
	# CORS for images
	# =======================
	# CORS for images
	@images_preflight {
		method OPTIONS
		path /images/*
	}

	# Preflight request handler
	handle @images_preflight {
		header Access-Control-Allow-Origin "http://localhost:8080"
		header Access-Control-Allow-Credentials "true"
		header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
		header Access-Control-Allow-Headers "Content-Type, Range"
		header Access-Control-Max-Age "3600"
		respond "" 204
	}

	# Actual image requests
	@images path /images/*
	handle @images {
		root * /home/ubik/Programming/Rust/wgpu/explore/res
		header Access-Control-Allow-Origin "http://localhost:8080"
		header Access-Control-Allow-Credentials "true"
		#		header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
		#		header Access-Control-Allow-Headers "Content-Type, Range"
		encode gzip
		file_server
	}

	# =======================
	# Serve .obj files (text)
	# =======================
	@models_preflight {
		method OPTIONS
		path /models/*
	}

	handle @models_preflight {
		header Access-Control-Allow-Origin "http://localhost:8080"
		header Access-Control-Allow-Credentials "true"
		header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
		header Access-Control-Allow-Headers "Content-Type"
		header Access-Control-Max-Age "3600"
		respond "" 204
	}

	handle_path /models/* {
		root * /home/ubik/Programming/Rust/wgpu/explore/res/models
		header Access-Control-Allow-Origin "http://localhost:8080"
		header Access-Control-Allow-Credentials "true"
		header Content-Type text/plain
		file_server
	}

	# =======================
	# Everything else -> Trunk
	# =======================
	# Everything else goes to Trunk
	handle {
		reverse_proxy localhost:8080
	}
}
